@{
    var student = ViewData["basicPayScaleDtos"] as IEnumerable<SenateCore.Models.CommonModels.BasicPayScaleModel.GetBasicPayScaleDto>;
}


@{
    Layout = null;
<table>
<thead>
<tr>
<th>Id</th>
                <th>Description</th>
</tr>
</thead>
@foreach (var item in student)
{
<tr>
            <td>@item.Id</td>
            <td>@item.Description</td>
</tr>



}
    </table>
}